html {
  height: 100%;
  width: 100%;
}

body {
  justify-content: center;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, LemonChiffon, lightCyan);
}

#weather-data-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/*
  Centers all weather informatin in a box with a gradient and box shadow
*/
.weather-display {
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-width: 15rem;
  padding: 10px 5px;
  margin: 10px;
  align-items: center;
  border-radius: 15px;
  background-image: linear-gradient(to left, LemonChiffon, lightCyan);
  box-shadow: 1px 1px 1px 1px #888888;
}

.title {
  font-size: 2rem;
  padding: 1rem;
}

/*
 Make a class called user-inputs which centers all your
 longitude, lattitude, and "get weather" button and places
 them vertically in the middle of the screen.

  This class will be applied to a div containg our elements
*/

/* 
 * Create a class called input that you can add to the two inputs and button
 * Make the inputs more beautiful. For example:
 *   Add some space around the button and the inputs
 *   Add a border radius
 *   And add a background color
 */